*{
    padding: 0;
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    background: rgb(0, 118, 236);
    font-family: Arial, Helvetica, sans-serif;
}

.game-board{
    position: absolute;
    top: 50%;
    left: 70%;
}
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width:100%;
    height:100%;
    justify-content: center;
}

#parent_div {
    text-align: center;
}
.stopbutton{
    display: flex;
    /* gap: 30px; */
    /* margin-top: -100px; */
    padding:50px;
    /* margin-top: 50px; */
    width: 100%;
    /* text-align: center
    ; */
    justify-content:center;


}

#stop_btn {
    background-color: white;
    padding: 10px;
    margin-right: 100px;
}

.start_button{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    margin:45vh auto;
    
}
.counter{
    position:absolute;
    top:30;
    right: 20;
}

.layout{
    width: 20%;
    border: 5px;
    padding: 30px;
    margin: 20px auto;
    margin-top: 10%;
    background-color: rgb(39, 76, 187);
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    place-items: center;
    gap:10px;
    text-align: center;
}

.box {
    width: 60px;
    height: 60px;
    background-color: black;
}


.board_elements{
    position: relative;
}

.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background-color: #0329c0;   
    backface-visibility: hidden;
}
.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;

}
.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.Scorecard{
    width: 10%;
    height:10%;
    border: 10px;
    padding: 20px;
    margin: 10px auto;
    margin-top: 20%;
    background-color: rgb(39, 76, 187);
    place-items: center;
    gap:10px;
    text-align: center;
}

.Score_box{
    text-size-adjust: medium;

}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}
.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 21pt;
    color: #282A3A;
}
.highlight {
    color: #0329c0;
}

.flip-card-back {
    display: none;
  
}
.flip-card-back1 {
    display: none;
  
}

.flip-card-back>img{
    width: 60px;
    height: 60px;
}
.flip-card-back1>img{
    width: 60px;
    height: 60px;
}

.flip-card-back2 {
    display: none;
  
}

.flip-card-back2>img{
    width: 60px;
    height: 60px;
}


.flip-card-back3 {
    display: none;
  
}

.flip-card-back3>img{
    width: 60px;
    height: 60px;
}


.flip-card-back4 {
    display: none;
  
}

.flip-card-back4>img{
    width: 60px;
    height: 60px;
}


.flip-card-back5 {
    display: none;
  
}

.flip-card-back5>img{
    width: 60px;
    height: 60px;
}

.flip-card-back6 {
    display: none;
  
}

.flip-card-back6>img{
    width: 60px;
    height: 60px;
}


.flip-card-back7 {
    display: none;
  
}

.flip-card-back7>img{
    width: 60px;
    height: 60px;
}



.flip-card-back8 {
    display: none;
  
}

.flip-card-back8>img{
    width: 60px;
    height: 60px;
}


.flip-card-back9 {
    display: none;
  
}

.flip-card-back9>img{
    width: 60px;
    height: 60px;
}


.flip-card-back10{
    display: none;
  
}

.flip-card-back10>img{
    width: 60px;
    height: 60px;
}


.flip-card-back11 {
    display: none;
  
}

.flip-card-back11>img{
    width: 60px;
    height: 60px;
}



.flip-card-back12 {
    display: none;
  
}

.flip-card-back12>img{
    width: 60px;
    height: 60px;
}



.flip-card-back13 {
    display: none;
  
}

.flip-card-back13>img{
    width: 60px;
    height: 60px;
}


.flip-card-back14 {
    display: none;
  
}

.flip-card-back14>img{
    width: 60px;
    height: 60px;
}


.flip-card-back15 {
    display: none;
  
}

.flip-card-back15>img{
    width: 60px;
    height: 60px;
}





.flip {
    visibility: hidden;
}